.av-select{
    margin-bottom:50px;
    width:45%;
    font-size:25px;
    
}

.tv-select{
    margin-bottom:50px;
    width:45%;
    font-size:25px;
    
}

.iso-select{
    width:45%;
    font-size:25px;
}

option{
    font-size:20px;
}

.ev-value{
    text-align:center;
    font-size:40px;
    font-weight: 700;
    border: 1px solid;
    border-color: blue;
    width:200px;
    margin: auto;
    margin-top: 5%;
    background-color: white;
}

.select-value{
    
    text-align:center;
    margin-top: 4%;
    margin-bottom: 5%;
}

body {
    background-image: url("../img/bgimg.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    margin-left:28%;
}

.ev-ezample{
    font-size:25px;   
    font-weight: bold;
    margin-left:28%;
    margin-top:1%;
}