.av-select{
    margin-bottom:30px;
    width:90%;
    font-size:25px;
    
}

.tv-select{
    margin-bottom:30px;
    width:90%;
    font-size:25px;
    
}

.iso-select{
    margin-bottom:30px;
    width:90%;
    font-size:25px;
}

option{
    font-size:20px;
}

.ev-value{
    text-align:center;
    font-size:40px;
    font-weight: 700;
    border: 1px solid;
    border-color: blue;
    width:200px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
}

.select-value{
    height:200px; 
    text-align:center;
    margin-top: 40px;
}

body {
    background-image: url("../img/background.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    margin-left:20%;
}

.ev-ezample{
    font-size:25px;   
    font-weight: bold;
    margin-left:20%;
    margin-top: 30px;
}